* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-brown: #2d1e1f;
  --main-yellow: rgb(255, 158, 9);
  --main-grey: #ece8dc;
  --main-white: #fff;
  --main-dark: #222;
}

body {
  background: var(--main-white);
  color: var(--main-dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--main-yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--main-yellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}

.about-background {
  min-height: 60vh;
}

.btn:active,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-yellow {
  color: var(--main-yellow) !important;
  border: 1px solid var(--main-yellow) !important;
}

.btn-yellow.active {
  background: var(--main-yellow);
  color: var(--main-brown) !important;
}

.btn-yellow:hover {
  background: var(--main-yellow);
  color: var(--main-brown) !important;
}

.footer {
  background: var(--main-brown);
}

.menu {
  background: var(--main-grey);
}

.display-4 {
  font-size: 3.5rem !important;
  line-height: 1.2;
}

button.navbar-toggler {
  margin: 15px;
}

.navbar-brand {
  margin-left: 1rem;
}
